
/* logo menu */


.wrapper-header {
    width: 1280px;
    margin: auto;
}

.name-logo {
    display: flex;
  

}


.link-logo {
    padding-right: 149px;
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/* top nav menu */

.top-nav {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    border-bottom: 0.5px solid #726e8d3c;
  

}

.header-nav {
    display: flex;
    align-items: center;
    gap: 44px;
    padding-right:281px;

}

.link-nav {
 
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    
    
}

/* icons bar */

.header-bar-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  
  
   
}

.button-icon {
    width: 16px;
    height: 16px;
    border: none;


}

.head-icon1 {
    background-image: url(../image/Search.svg);
    
}

.head-icon2 {
    background-image: url(../image/Shopping--cart.svg);

}

.head-icon3 {
    background-image: url(../image/User--avatar.svg);
}


/* main container---all product */



.all-product {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.title-product {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* select block */

.select-block {
    display: flex;
    padding: 24px 0 5px 0;
    gap: 48px; 
    justify-content: center;
    
    
    
}

.select-item {
    border: none;
    height: 64px;
    color: #2A254B;

font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;


}

.span-item {
    display: flex;
    align-items: center;

    height: 64px;
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.select-item5 {
    padding-left: 417px;
}


/* product card */

.product-wrapper {
    width: 1280px;
    margin: auto;
}

.product-card {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 28px 0 48px 0;
    

}

.name-product {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 8px;
}

.price-product {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
   
}

.item-cards {
    padding-bottom: 24px;
}

.link-product {
    text-decoration: none;
}

/* button main*/


.list-product {
    padding: 16px 32px;
    background-color: #F9F9F9;
    border: none;
    color: #2A254B;

font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
 

}


.button-list {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}


/* email sing up */




.email-sing-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:49px;

}

.image-back {
    background-image: url(../image/background-img.png);
    width: 720px;
    height: 521px;
}

.text-form {
    padding-top: 71px;
}

.head-sing-up {
    color: var(--Dark-Primary, #2A254B);
    text-align: start;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 21px;
}

.text-sing-up {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 470px;
    padding-bottom: 216px;

}

.sing-up {
    width: 472px;
    display: block;
    padding-left: 23px;
    
    
}

.sing-button {
    
    border: none;
    background: var(--Dark-Primary, #2A254B);
    padding: 16px 32px;
    color: var(--White, #FFF);

font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;

}

.wrapper-inform {
    width: 1280px;
    margin: auto;
}


.footer-inform {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    padding: 58px 0 48px 0;
    
}

.footer {
    background: var(--Dark-Primary, #2A254B);
    
}


.maps-image {
    background-image: url(../image/maps.jpg);
    width: 642px;
    height: 195px;
}

.menu-name {
    padding-bottom: 12px;
}

.categor-name {
    padding-bottom: 12px;

}
.company-name{ 
    padding-bottom: 12px;
}

.menu-link {
    color: var(--White, #FFF);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;

}

.categorie-link {
    text-decoration: none;
    color: var(--White, #FFF);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.company-link {
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.company-link1 {
    text-decoration: none;
    color: var(--White, #FFF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.categorie-link1 {
    text-decoration: none;
    color: var(--White, #FFF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.menu-link1 {
    text-decoration: none;
    color: var(--White, #FFF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.footer-inform {
    border-bottom: 1px solid #4E4D93;
   
}


/* social icons */

.wrapper-social-icon {
    width: 1280px;
    margin: auto;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px 0;
    

    
}

.footer-text {
    color: var(--White, #FFF);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.icons-block {
    display: flex;
    justify-content: end;
    gap: 24px;
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    
}

.footer-linkedin::before {
    content: url(../image/logo--linkedin.svg);
   
}

.footer-facebook::before {
   
    content: url(../image/logo--facebook.svg);
    
}

.footer-instagram::before {
    content: url(../image/logo--instagram.svg);
   
}

.footer-skype::before {
    content: url(../image/logo--skype.svg);
   
}

.footer-twitter::before {
    content: url(../image/logo--twitter.svg);
   
}

.footer-pinterest::before {
    content: url(../image/logo--pinterest.svg);
  
}